img{
    /* 幅 */
    width: 240px;
    /* 高さ */
    height: 240px;
    /* トリミングして写真をきれいに保つ */
    object-fit:cover;
    /* object-fitで写真のどこにフォーカスするか */
    object-position: center;
}   

.dog{
    width: 100%;
    /* ポジションは ①左右、②上下 の順に指定 */
    object-position: right top;
}

.brown{
    /* 文字色をbrownに */
    color:brown;
}

.red{
    /* 背景色を赤、文字色は白 */
    background-color: red;
    color: white;

    /* 上下20px 左右40px */
    /* padding-left:40px; */
    /* padding-right: 40px; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */

    /* ↑をひとつにまとめる */
    /* 上 右 下 左 12時から時計回り21時で終わる*/
    padding: 20px 40px 20px 40px;
}

.copy{
    /* 文字を中央揃え */
    text-align: center;
}

h1{
    /* 枠線左のみ */
    border-left: 10px blue solid;
    /* 内側の余白 */
    padding-left: 20px;
}

#title{
    background-color: gray;
}

ul{
    border: 1px gray dashed;
    padding: 40px;
    /* 文字色 */
    color:brown;
}

li{
    /* color:brown; */
}

a{
    /* ディスプレイ（配置）をブロック性質にして横に来ないようにする */
    display:block;
    /* 背景色 */
    background-color:black;
    padding: 20px;
    color: white;
    /* 文字装飾をなし（下線をなくす） */
    text-decoration: none;
    width: 200px;
    /* 外側の余白（上側のみ） */
    margin-top:50px;
    /* 中の文字が真ん中 */
    text-align: center;

    /*こんなやり方もある*/
    /* margin-left: calc((100% - 300px) / 2); */
    /* margin-right: calc((100% - 300px) / 2); */

    /* 余白をオートで左右配分 */
    margin-left: auto;
    margin-right: auto;

    /* 角を丸くする */
    border-radius: 10px;
}

header{
    background-color: pink;
}

main{
    width:800px;
    margin: 40px auto 40px auto;
}
